Repository recallwei/wiki: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, stylelint --syntax=scss

.lintstagedrc.json:

{
  "*.css": "stylelint",
  "*.scss": "stylelint --syntax=scss"
}

build(eslint): update eslint rules
  .eslintignore
  .eslintrc.json
  sidebars.js
  tsconfig.json
Due: none

build(.cspell.json): add words
  .cspell.json
Due: none

docs(javascript): add Object doc
  docs/javascript/object/index.mdx
Due: none

build(package.json): upgrade docusaurus dependencies
  package.json
  yarn.lock
Due: none

style(.cspell.json): add words
  .cspell.json
Due: none

refactor(.d.ts): redefine image type module
  src/asset.d.ts
  src/types/image.d.ts
Due: none

fix(custom.css): use modern css
  src/style/custom.css
Due: stylelint

docs(javascript): update docs
  docs/javascript/built-in-objects/array.mdx
  docs/javascript/built-in-objects/index.mdx
  docs/javascript/built-in-objects/object.mdx
  docs/javascript/utilities/index.mdx
  docs/javascript/utilities/js-doc.mdx
  sidebars.js
  src/pages/links/index.tsx
Due: none

docs(eslint): add docs
  docs/tools/eslint/configuring.mdx
  docs/tools/eslint/index.mdx
Due: none

style(custom.css): add fira code font style
  .husky/pre-commit
  docs/tools/eslint/configuring.mdx
  src/style/custom.css
Due: stylelint

build(prettier): adjust prettier rules
  .eslintrc.json
  .prettierrc
  docs/visual-studio-code/fira-code-font.mdx
  docs/visual-studio-code/index.mdx
  docusaurus.config.js
  sidebars.js
  src/pages/index.tsx
  temp/nav.js
Due: none

docs(draft): add draft docs
  docs/tools/draft/commitlint/index.mdx
  docs/tools/draft/editor-config/index.mdx
  docs/tools/draft/husky/index.mdx
  docs/tools/draft/lint-staged/index.mdx
  docs/tools/draft/prettier/index.mdx
  docs/tools/draft/stylelint/index.mdx
  docs/vue/index.mdx
Due: none

docs(algorithm): add algorithm docs
  .cspell.json
  docs/algorithm/index.mdx
  docs/algorithm/leetcode/[1]-two-sum.mdx
  docs/algorithm/leetcode/index.mdx
  docusaurus.config.js
  sidebars.js
  src/style/custom.css
Due: stylelint

refactor(style): use scss
  docs/algorithm/leetcode/[1]-two-sum.mdx
  docusaurus.config.js
  package.json
  src/style/custom.css
  src/style/custom.scss
  src/style/font.scss
  src/style/index.scss
  src/style/markdown.scss
  src/style/theme.scss
  yarn.lock
Due: stylelint, stylelint --syntax=scss

docs(sass): add sass doc
  docs/sass/index.mdx
Due: none

style(search): hide the search bar
  blog/authors.yml
  docusaurus.config.js
  src/style/custom.scss
  src/style/index.scss
Due: stylelint --syntax=scss

style(markdown.css): update code style
  src/style/markdown.scss
Due: stylelint --syntax=scss

chore(commitlint): use conventional commitlint
  .commitlintrc.json
  package.json
  yarn.lock
Due: none

chore(eslint): add eslint rules
  .eslintrc.json
  tsconfig.eslint.json
Due: none

chore(theme): update theme components
  src/components/index.d.ts
  src/constants/index.ts
  src/theme/Layout/index.tsx
  src/theme/TOC/index.tsx
  src/theme/TOC/styles.module.css
  src/theme/TOCItems/Tree.tsx
  tsconfig.json
Due: stylelint

docs(OS): add os docs
  docs/operating-system/index.mdx
  docs/operating-system/windows/index.mdx
  docs/operating-system/windows/installation.mdx
Due: none

style(theme): format code
  src/theme/CodeBlock/Content/Element.tsx
  src/theme/CodeBlock/Content/String.tsx
Due: none

chore(.prettierrc.json): use json extension
  .prettierrc.json
Due: none

build: update yarn.lock
  yarn.lock
Due: none

docs: update
  docs/operating-system/index.mdx
  docs/operating-system/windows/index.mdx
  docs/operating-system/windows/installation.mdx
Due: none

Update doc.
  temp/docs/git/crlf-and-lf-conflict.mdx
Due: none

chore: update markdownlint rule
  .markdownlint.json
Due: none

chore: update
  .gitignore
  .vscode/website-code-snippets.code-snippets
Due: none

chore: update
  .editorconfig
  .eslintrc.js
  .eslintrc.json
  .gitignore
  .husky/commit-msg
  .lintstagedrc.json
  .markdownlint.json
  .npmrc
  .prettierrc.js
  .prettierrc.json
  .stylelintrc.json
  .vscode/website-code-snippets.code-snippets
  README.md
  blog/authors.yml
  docs/algorithm/leetcode/[1]-two-sum.mdx
  docusaurus.config.js
  i18n/en/code.json
  i18n/en/docusaurus-plugin-content-blog/options.json
  i18n/en/docusaurus-plugin-content-docs/current.json
  i18n/en/docusaurus-theme-classic/footer.json
  i18n/en/docusaurus-theme-classic/navbar.json
  i18n/zh-CN/code.json
  i18n/zh-CN/docusaurus-plugin-content-blog/options.json
  i18n/zh-CN/docusaurus-plugin-content-docs/current.json
  i18n/zh-CN/docusaurus-theme-classic/footer.json
  i18n/zh-CN/docusaurus-theme-classic/navbar.json
  jest.config.js
  package.json
  pnpm-lock.yaml
  sidebars.js
  temp/blogs/2019-05-28-first-blog-post.md
  temp/blogs/2019-05-29-long-blog-post.md
  temp/blogs/2021-08-01-mdx-blog-post.mdx
  temp/blogs/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  temp/blogs/2021-08-26-welcome/index.md
  tsconfig.eslint.json
  yarn.lock
Due: none

chore: update
  package.json
Due: none

chore: update to v3
  package.json
  pnpm-lock.yaml
  temp/docs/postgresql/connection.mdx
  temp/docs/typescript/tsconfig.mdx
  tsconfig.json
Due: none
